settings set interpreter.require-overwrite false
command script import /Users/ricardo/Projects/math-plus-plus/lldb/dense_matrix_lldb_formatter.py
command script import /Users/ricardo/Projects/math-plus-plus/lldb/dense_vector_lldb_formatter.py